<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Investigacion-ejbPU" transaction-type="JTA">
    <provider>
            org.eclipse.persistence.jpa.PersistenceProvider
        </provider>
    <jta-data-source>jdbc/siseac</jta-data-source>
    <class>ec.edu.espe_ctt.seguridades.entity.SegUsuario</class>
    <class>ec.edu.espe_ctt.seguridades.entity.SegSistemas</class>
    <class>ec.edu.espe_ctt.saturno.entity.Stvsubj</class>
    <class>ec.edu.espe_ctt.saturno.entity.Stvmajr</class>
    <class>ec.edu.espe_ctt.saturno.entity.Stvcamp</class>
    <class>ec.edu.espe_ctt.saturno.entity.Stvtops</class>
    <class>ec.edu.espe_ctt.saturno.entity.Stvcamp</class>
    <class>ec.edu.espe_ctt.saturno.entity.Sfrstcr</class>
    <class>ec.edu.espe_ctt.saturno.entity.Stvlevl</class>
    <class>ec.edu.espe_ctt.saturno.entity.Stvrsts</class>
    <class>ec.edu.espe_ctt.saturno.entity.Stvterm</class>
    <class>ec.edu.espe_ctt.saturno.entity.Sobterm</class>
    <class>ec.edu.espe_ctt_investigacion.entity.SeaParesConvoca</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.logging.level" value="FINE"/>
      <property name="eclipselink.cache.shared.default" value="false"/>
    </properties>
    
  </persistence-unit>
</persistence>
